<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' type='text/css' href="{{url_for('authentication.static', filename='register.css')}}">
  <title>Maahbi</title>
</head>
<body>
    {% include 'navbar.html' %}
  <div class="container">
    <div class="form">
      <header>Signup</header>
      <form action="/auth/register" method="POST">
        {{ form.hidden_tag()}}
        {{ form.email(class="input", placeholder="Enter your email")}}
        {{ form.agent_name(class="input", placeholder="Agent full name")}}
        {{ form.agent_phone(class="input", placeholder="Agent phone number")}}
        {{ form.password(class="input", placeholder="Create your password")}}
        {{ form.submit }}
      </form>
      <div class="signup">
        <span>Already have an account? <a href="/auth/login">Login</a></span>
      </div>
    </div>
  </div>
</body>
</html>
