<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href="{{url_for('properties.static', filename='addclient.css')}}">
    <div id = "navbar"></div>
    <title>New Client Submission</title>
    <body>
        {% include 'navbar.html' %}
    </body>
    <style>
        /* Uniform styling */
        
    </style>
<div>
    <form action="/addclient" method="post">
        <h2 style="text-align: center; margin-bottom: 20px;">New Client Submission</h2>
        <input type="text" id="clients" name="contact" placeholder="Email or Phone Number" required>
        <input type="text" id="city" name="city" placeholder="City" required>
        <input type="text" id="state" name="state" placeholder="State" required>
        <input type="number" id="price" name="price" placeholder="Enter property price" required>
        <input type="number" id="bedrooms" name="bedrooms" placeholder="Enter number of bedrooms" required>
        <input type="number" id="bathrooms" name="bathrooms" placeholder="Enter number of bathrooms" required>
        <textarea id="description" name="comments" placeholder="Enter Client description" ></textarea>
        <input type="submit" value="Submit Client" style="display: block; margin: 0 auto;">
    </form>
</div>
  