<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href="{{url_for('properties.static', filename='addproperty.css')}}">
    <title>New Property Submission</title>
</head>
<body>
    {% include 'navbar.html' %}
</body>
<div class = "div-1">
    <form action="/addproperty" method="post">
        <h2 style="text-align: center; margin-bottom: 20px;">New Property Submission</h2>
        <input type="text" id="address1" name="address1" placeholder="Address Line 1" required>
        <input type="text" id="address2" name="address2" placeholder="Address Line 2 (optional)">
        <input type="text" id="city" name="city" placeholder="City" required>
        <input type="text" id="state" name="state" placeholder="State" required>
        <input type="number" id="zipcode" name="zipcode" placeholder="Zip Code" required>
        <input type="number" id="price" name="price" placeholder="Enter property price" required>
        <input type="number" id="bedrooms" name="bedrooms" placeholder="Enter number of bedrooms" required>
        <input type="number" id="bathrooms" name="bathrooms" placeholder="Enter number of bathrooms" required>
        <textarea id="description" name="comments" placeholder="Enter property description" ></textarea>
        <input type="submit" value="Submit Property" style="display: block; margin: 0 auto;">
    </form>
</div>


  