<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href="{{url_for('properties.static', filename='addclient.css')}}">
    <div id = "navbar"></div>
    <title>Dashboard</title>
    <body>
        {% include 'navbar.html' %}
    </body>
<div class = "results-box">
    <div class = results-title" style="font-size: 25px; font-weight: bold; text-align: right; margin-bottom: 16px;">My Properties</div>
    <link rel='stylesheet' type='text/css' href="{{url_for('properties.static', filename='dashboard.css')}}">
<table>
    <tr>
        <th>ID</th>
        <th>Address</th>
        <th>Property Type</th>
        <th>Price</th>
        <th>Bedrooms</th>
        <th>Bathrooms</th>
        <th>Match Count</th>
    </tr>
    {% for result in results %}
    <tr>
        <td>{{ result.property_id }}</td>
        <td>{{ result.address1 }}</td>
        <td>{{ result.property_type }}</td>
        <td>Rs.{{ result.min_price }}</td>
        <td>{{ result.bedrooms }}</td>
        <td>{{ result.bathrooms }}</td>
        <td>
            <a href = "meta.com/ {{result.property_id}}" >
            {{ result.match_count }} matches
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% if not results %}
    <p>No Properties Yet!.</p>
{% endif %}
</div>
</body>
</html>

