<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div id = "dashboard"></div>
    <title>Dashboard</title>
    <body>
        {% include 'navbar.html' %}
    </body>
<div class = "results-box">
    <div class = results-title" style="font-size: 25px; font-weight: bold; text-align: right; margin-bottom: 16px;">My Properties</div>
    <link rel='stylesheet' type='text/css' href="{{url_for('properties.static', filename='dashboard.css')}}">
    <style>
        button[type="submit"] {
          background-color: rgb(230, 105, 105);
          color: #fff;
          padding: 10px;
          border: none;
          border-radius: 10px;
          cursor: pointer;
        }
        
      </style>
<table>
    <tr>
        <th>ID</th>
        <th>Address</th>
        <th>Property Type</th>
        <th>Price</th>
        <th>Bedrooms</th>
        <th>Bathrooms</th>
        <th>Match Count</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for result in results %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ result.address1 }}</td>
        <td>{{ result.property_type }}</td>
        <td>Rs.{{ result.min_price }}</td>
        <td>{{ result.bedrooms }}</td>
        <td>{{ result.bathrooms }}</td>
        <td>
            <a href = "meta.com/{{result.property_id}}" >
            {{ result.match_count }} matches
            </a>
        </td>
        <td>
            <form action="dashboard/edit" method="post">
                <input type="hidden" id="property_id" name="property_id" value="{{result.property_id}}">
                <button type="submit" onclick="return checker()" >Edit</button>
            </form>
        </td>
        <td>
            <form action="dashboard/delete" method="post">
                <input type="hidden" id="property_id" name="property_id" value="{{result.property_id}}">
                <button type="submit" onclick="return checker()" >Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% if not results %}
    <p>No Properties Yet!.</p>
{% endif %}
</div>
<script>
    function checker() {
        var result = confirm("Are you sure you want to delete?");
        if (result==false){
            event.preventDefault();
        }
    }
</script>
</body>
</html>

