table {
    margin: 0%; /* Centers the table */
    border-collapse: collapse;
    width: 100%; /* Adjust width as needed */
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
}

/* Style for the header row */
table thead tr {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/* Style for all cells */
table td, table th {
    border: 1px solid #e3e3e3;
    padding: 12px;
    text-align: center;
}

/* Zebra striping for rows */
table tbody tr:nth-child(even) {
    background-color: #000000;
}

table tbody tr:nth-child(odd) {
    background-color: #000000;
}

/* Hover effect */
table tbody tr:hover {
    background-color: #d6d6d6;
}

/* Optional: Adjust font size and text alignment for aesthetics */
table {
    font-size: 16px;
}
 .results-box {
    display: flex;
    flex-direction: column; /* Stacks content vertically */
    align-items: flex-start; /* Aligns content to the left*/
    padding: 16px; /* Adds spacing around the content */
    border: 1px solid #ffffff; 
    background-color: #000000; /* Dark background for aesthetic */
    color: rgb(255, 255, 255); /* Text color */
    margin: 0 auto 2% auto;
    width: 70%; /* Adjust as needed  */
    border-radius: 8px;
}
button[type="submit"] {
    background-color: rgb(230, 105, 105);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    } 
    button.fetch-btn {
        background-color: #273F4F; 
    }
    
    /* Edit Button */
    button.edit-btn {
        background-color: #2d2d2d; 
    }
    
    /* Delete Button */
    button.delete-btn {
        background-color: #FE7743; 
    }
    